@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-3 uppercase bg-blue-500 text-gray-200 rounded font-semibold text-sm tracking-wider md:px-4 md:py-3 md:text-base;
  }

  .btn:hover {
    @apply bg-blue-400 text-white;
  }

  .btn:focus {
    @apply outline-none ring ring-blue-600 ring-offset-2;
  }
}

[href='#main'] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

[href='#main']:focus {
  right: auto;
}
